@charset "UTF-8";
body {
	font-family: 'Josefin Slab', serif;
	background: #0B0B0B;
}
div {
	display: flex;
    height: 340px;
	justify-content: center;
    align-items: center;         
}
form {
	margin: 4%;
}
input {
    height: 10.0rem;
    width: 25.0rem;
    font-size: 2.0rem;
    cursor: pointer;
    background-color: transparent;
    color: rgb(214, 202, 202);
    border: solid grey;
    border-radius: 2%;
}
input[type="submit"]:hover {
    border-color: tomato;
}